.Users {
    /* border: 1px solid black;*/
    position: absolute;
    top:70px;
    width: 30%;
    height: 550px;
    /* font-size: small; */
    box-sizing: border-box;
  }
  
  .Users ul {
    padding: 0px;
    margin: 0px;
  }
  
  
  @media (max-width: 499px) {
    .Users {
        display: none;
    }
  }
  