.Message {
  margin: 0;
  border-radius: 20px;
  margin: 0;
  padding: 0px 18px 0px 18px;
  margin: 8px;
  font-family: Roboto;
/*font-weight: bold;*/
}

.Mine {
  background-color: rgb(0, 140, 248);
  color: white;
  float: right;
}

.Alien {
  background-color: rgb(241, 240, 240);
  float: left;
}
